/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media all and (min-width: 1024px) {
  body .container {
    min-width: 812px; }
    body .container .header {
      padding-bottom: 50px;
      padding-top: 110px;
      background-position-y: 68px;
      position: relative; }
      body .container .header .traffic {
        font-size: 28px; }
      body .container .header .text {
        display: flex;
        justify-content: center; }
        body .container .header .text .p-1 {
          font-size: 15px; }
        body .container .header .text .p-2 {
          padding-left: 5px;
          font-size: 15px; }
    body .container .card {
      width: 38%;
      position: relative;
      margin: 0 auto; }
      body .container .card .car-header {
        display: flex;
        flex-wrap: wrap; }
        body .container .card .car-header .k-views {
          order: 1;
          width: 50%;
          font-size: 15px;
          padding-top: 70px; }
        body .container .card .car-header .bar-progress {
          order: 3;
          margin: 0 auto;
          position: relative;
          padding-bottom: 80px;
          width: 95%; }
          body .container .card .car-header .bar-progress input[type='range'] {
            display: block;
            margin: 0 auto;
            width: 82%;
            position: relative; }
        body .container .card .car-header .price-month {
          order: 2;
          width: 45%;
          justify-content: center;
          text-align: center;
          padding-top: 60px; }
          body .container .card .car-header .price-month .dolar {
            font-size: 30px; }
          body .container .card .car-header .price-month .money {
            font-size: 30px; }
          body .container .card .car-header .price-month .dolar-month {
            font-size: 22px; }
        body .container .card .car-header .toogle-area {
          order: 4;
          position: relative;
          left: 17px;
          width: 90%; }
          body .container .card .car-header .toogle-area .monthly {
            color: #858fad;
            font-weight: 600;
            padding-right: 10px; }
          body .container .card .car-header .toogle-area .wrap-toggle .switch {
            width: 40px;
            height: 20px; }
          body .container .card .car-header .toogle-area .wrap-toggle .switch::after {
            width: 10px;
            height: 10px; }
          body .container .card .car-header .toogle-area .wrap-toggle input[type='checkbox']:checked + .switch::after {
            transform: translateX(20px); }
          body .container .card .car-header .toogle-area .year {
            color: #858fad;
            font-weight: 600;
            padding-right: 15px;
            position: relative; }
          body .container .card .car-header .toogle-area .percent {
            display: none; }
          body .container .card .car-header .toogle-area .percent-1 {
            position: relative;
            display: block;
            height: 20px;
            background-color: #feece7;
            border-radius: 40px; }
            body .container .card .car-header .toogle-area .percent-1 .percent-number-1 {
              position: relative;
              color: #ff8c66;
              top: 2px; }
      body .container .card .card-footer {
        display: flex;
        width: 83%;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 10px; }
        body .container .card .card-footer .tex-img {
          text-align: left;
          font-size: 12px;
          line-height: 25px; }
        body .container .card .card-footer .button {
          font-size: 15px;
          width: 187px;
          height: 40px;
          top: 12px;
          margin-right: 10px; } }

body {
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  background: url("/img/bg-pattern.svg") no-repeat;
  background-size: 100%; }

.container {
  min-width: 330px;
  width: 88%;
  margin: 0 auto;
  position: relative; }
  .container .header {
    width: 73%;
    margin: 0 auto;
    padding-top: 190px;
    text-align: center;
    position: relative;
    background-image: url("/img/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position-y: 150px;
    background-position-x: center; }
    .container .header .traffic {
      font-weight: 800;
      color: #293356;
      padding-bottom: 15px;
      font-size: 18px; }
    .container .header .text .p-1 {
      font-weight: 600;
      color: #858fad;
      line-height: 25px; }
    .container .header .text .p-2 {
      text-align: center;
      font-weight: 600;
      color: #858fad;
      line-height: 25px;
      padding-bottom: 45px; }
  .container .card {
    background-color: white;
    width: 88%;
    margin: 0 auto;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 0 100px #eaeefb; }
    .container .card .car-header {
      position: relative; }
      .container .card .car-header .k-views {
        margin: 0 auto;
        display: flex;
        padding-bottom: 80px;
        padding-top: 50px;
        justify-content: center;
        font-weight: 800;
        font-size: 20PX;
        color: #858fad;
        letter-spacing: 4px; }
        .container .card .car-header .k-views .kbite {
          padding-right: 8px; }
      .container .card .car-header .bar-progress {
        margin: 0 auto;
        position: relative;
        padding-bottom: 50px;
        width: 76%;
        height: 20px; }
        .container .card .car-header .bar-progress input[type='range'] {
          width: 100%;
          height: 11px;
          -webkit-appearance: none;
          background: linear-gradient(to right, #a5f3eb 0%, calc(var(--value)*1%), #eaeefb 0);
          border-radius: 10px; }
        .container .card .car-header .bar-progress input[type='range']::-webkit-slider-thumb {
          width: 50px;
          height: 50px;
          background: url("/img/icon-slider.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-color: #a5f3eb;
          border-radius: 100px;
          box-shadow: 0 17px 25px -2px #a5f3eb;
          position: relative;
          cursor: pointer;
          -webkit-appearance: none;
          margin-top: -17px; }
        .container .card .car-header .bar-progress input[type='range']::-webkit-slider-thumb:active {
          background-color: #0b6a61; }
        .container .card .car-header .bar-progress input[type='range']::-webkit-slider-runnable-track {
          width: 100%;
          height: 11px;
          -webkit-appearance: none;
          cursor: pointer;
          background: transparent;
          border-radius: 10px;
          border: 10px; }
      .container .card .car-header .price-month {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        padding-bottom: 60px; }
        .container .card .car-header .price-month .dolar {
          color: #293356;
          font-size: 35px;
          font-weight: 800; }
        .container .card .car-header .price-month .money {
          color: #293356;
          font-size: 35px;
          font-weight: 800; }
        .container .card .car-header .price-month .dolar-month {
          padding-left: 8px;
          color: #858fad;
          font-weight: 600;
          font-size: 28px; }
      .container .card .car-header .toogle-area {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px; }
        .container .card .car-header .toogle-area .monthly {
          color: #858fad;
          font-weight: 600;
          padding-right: 15px; }
        .container .card .car-header .toogle-area .wrap-toggle {
          padding-right: 30px; }
          .container .card .car-header .toogle-area .wrap-toggle .switch {
            position: relative;
            display: inline-block;
            width: 70px;
            height: 30px;
            background-color: #a5f3eb;
            border-radius: 40px;
            cursor: pointer; }
          .container .card .car-header .toogle-area .wrap-toggle .switch::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 40px;
            background-color: white;
            left: 5px;
            top: 5px;
            transition: all 0.4s; }
          .container .card .car-header .toogle-area .wrap-toggle input[type='checkbox']:checked + .switch::after {
            transform: translateX(40px); }
          .container .card .car-header .toogle-area .wrap-toggle input[type="checkbox"]:checked + .switch {
            background-color: #cdd7ee; }
          .container .card .car-header .toogle-area .wrap-toggle .offscreen {
            position: absolute;
            left: -9999px; }
        .container .card .car-header .toogle-area .year {
          color: #858fad;
          font-weight: 600;
          padding-right: 15px;
          position: relative; }
        .container .card .car-header .toogle-area .percent {
          width: 70px;
          height: 30px;
          background-color: #feece7;
          border-radius: 40px;
          position: relative;
          text-align: center; }
          .container .card .car-header .toogle-area .percent .percent-number {
            top: 7px;
            color: #ff8c66;
            position: relative;
            font-weight: 800; }
        .container .card .car-header .toogle-area .percent-1 {
          display: none;
          width: 130px;
          height: 30px;
          background-color: #feece7;
          border-radius: 40px;
          position: relative; }
          .container .card .car-header .toogle-area .percent-1 .percent-number-1 {
            color: #ff8c66;
            font-weight: 800;
            top: 7px;
            left: 8px;
            position: relative; }
    .container .card hr {
      border: 0.5px solid #eaeefb; }
    .container .card .card-footer {
      text-align: center;
      margin: 0 auto;
      padding-bottom: 65px;
      padding-top: 40px; }
      .container .card .card-footer .tex-img {
        font-weight: 600;
        color: #858fad;
        padding-bottom: 40px;
        line-height: 35px; }
        .container .card .card-footer .tex-img img {
          margin-right: 10px; }
      .container .card .card-footer .button {
        position: relative;
        margin: 0 auto;
        background-color: #293356;
        font-weight: 800;
        color: #858fad;
        font-size: 20px;
        border-radius: 45px;
        cursor: pointer;
        width: 238px;
        height: 53px; }
      .container .card .card-footer .button:active {
        color: white; }
