

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import 'medias';


$font-1:600;
$font-2:800;

$soft-cyan: hsl(174, 77%, 80%);
$strong-cyan: hsl(174, 81%, 23%);
$gravish-red: hsl(14, 92%, 95%);
$light-red: hsl(15, 100%, 70%);
$pale-blue:hsl(226, 100%, 87%);
$white: hsl(0, 0%, 100%);
$very-pale-blue:hsl(230, 100%, 99%);
$Light-Grayish-Blue-1:hsl(224, 65%, 95%);
$Light-Grayish-Blue-2:hsl(223, 50%, 87%);
$Grayish-Blue:hsl(225, 20%, 60%);
$Dark-Desaturated-Blue:hsl(227, 35%, 25%);






body{
    font-family:'Manrope', sans-serif;
    font-size: 15px;
	background:  url('/img/bg-pattern.svg') no-repeat;
	background-size: 100%;
}


.container{
	min-width: 330px;
	width: 88%;
	margin: 0 auto;
	position: relative;
	
	
		.header{
			width: 73%;
			margin: 0 auto;
			padding-top: 190px;
			text-align:center;
		
			position: relative;
			background-image: url('/img/pattern-circles.svg');
			background-repeat: no-repeat;
			background-position-y: 150px;
			background-position-x: center;
		.traffic{
			font-weight: $font-2;
			color: $Dark-Desaturated-Blue;
			padding-bottom: 15px;
			font-size: 18px;
			
		}
		.text{
			.p-1{
				font-weight: $font-1;
				color: $Grayish-Blue;
				line-height: 25px;
			}
			.p-2{
				text-align:center;
				font-weight: $font-1;
				color: $Grayish-Blue;
				line-height: 25px;
				padding-bottom: 45px;
			}
		}	
	}

	.card{
		background-color: $white;
		width: 88%;
		margin: 0 auto;
		border-radius: 15px;
		position: relative;
		box-shadow: 0 0 100px $Light-Grayish-Blue-1;

	
			.car-header{
				position: relative;

				.k-views{
					margin: 0 auto;
					display:flex;
					padding-bottom: 80px;
					padding-top: 50px;
					justify-content: center;
					font-weight: $font-2;
					font-size: 20PX;
					color: $Grayish-Blue;
					letter-spacing: 4px;

					.kbite{
						padding-right: 8px;
					}
					
				}

				

				.bar-progress{
		
					margin: 0 auto;
					position: relative;
					padding-bottom: 50px;
					width: 76%;
					height: 20px ;
			
					input[type='range']{
						width: 100%;
						height:11px;
						-webkit-appearance: none;
						background: linear-gradient(to right, $soft-cyan 0%,calc(var(--value)*1%), $Light-Grayish-Blue-1 0);
						border-radius: 10px;					
						}
					input[type='range']::-webkit-slider-thumb {
						width: 50px;
						height: 50px;
						background: url('/img/icon-slider.svg');
						background-position:center ;
						background-repeat: no-repeat;
						background-color: $soft-cyan;
						border-radius: 100px;
						box-shadow: 0 17px 25px -2px $soft-cyan;
						position: relative;
						cursor: pointer;
						-webkit-appearance: none;
						margin-top: -17px;
						
								}
					input[type='range']::-webkit-slider-thumb:active{
							background-color:$strong-cyan;
								}
								
		
					input[type='range']::-webkit-slider-runnable-track {
						width: 100%;
						height: 11px;
						-webkit-appearance: none;
						cursor: pointer;
						background: transparent;
						border-radius: 10px;
						border: 10px ;
						  }
				
				}
				.price-month{
					display: flex;
					margin: 0 auto;
					justify-content: center;
					padding-bottom: 60px;

					.dolar{
						color: $Dark-Desaturated-Blue;
						font-size: 35px;
						font-weight: $font-2;

					}
					.money{
						color: $Dark-Desaturated-Blue;
						font-size: 35px;
						font-weight: $font-2;
				

					}
					.dolar-month{
						padding-left: 8px;
						color: $Grayish-Blue;
						font-weight: $font-1;
						font-size: 28px;

				}

				}
					
				.toogle-area{
					display: flex;
					justify-content: center;
					align-items: center;
					padding-bottom: 40px ;
			
					.monthly{
						color: $Grayish-Blue;
						font-weight: $font-1;
						padding-right: 15px;
			
					}
					.wrap-toggle{
						padding-right: 30px;

						.switch{
							position: relative;
							display: inline-block;
							width: 70px;
							height: 30px;
							background-color:$soft-cyan ;
							border-radius: 40px;
							cursor: pointer;
					
						}
					
						.switch::after{
							content: "";
							position: absolute;
							width: 20px;
							height: 20px;
							border-radius: 40px;
							background-color: $white;
							left: 5px;
							top: 5px;
							transition: all 0.4s;
							
						}

						input[type= 'checkbox']:checked + .switch::after{
							transform: translateX(40px);
						

						}
						
						input[type="checkbox"]:checked + .switch{
							background-color: $Light-Grayish-Blue-2;
						}
						
						.offscreen {
							position: absolute;
							left: -9999px;
						  } 


					}
					
			
					.year{
						color: $Grayish-Blue;
						font-weight: $font-1;
						padding-right: 15px;
						position: relative;
					}
					.percent{
						width: 70px;
						height: 30px;
						background-color:$gravish-red ;
						border-radius: 40px;
						position: relative;
						text-align: center;
						
						
						.percent-number{		
							top: 7px;
							color: $light-red;
							position: relative;
							font-weight: $font-2;
						}
	
					}
					.percent-1{
						display: none;
						width: 130px;
						height: 30px;
						background-color:$gravish-red ;
						border-radius: 40px;
						position: relative;

						.percent-number-1{
							color: $light-red;
							font-weight: $font-2;
							top: 7px;
							left: 8px;
							position: relative;
						}

					}
					

				}
				

			}
			hr{
				
				border:  0.5px solid $Light-Grayish-Blue-1; 
				

			}
			.card-footer{
				text-align:center;
				margin: 0 auto;
				padding-bottom: 65px;
				padding-top: 40px ;

				.tex-img{
					font-weight: $font-1;
					color: $Grayish-Blue;
					padding-bottom: 40px;
					line-height:35px;
					img{
						margin-right: 10px;
					}

				}
			
				.button{
				    position: relative;
					margin: 0 auto;
					background-color: $Dark-Desaturated-Blue;
					font-weight: $font-2;
					color: $Grayish-Blue;
					font-size: 20px;
					border-radius: 45px;
					cursor: pointer;
					width: 238px;
					height: 53px;
					
				}
				.button:active{
					color: $white;
				}
				
					
				
			


				
				
			
			
			
			}

	}

	}
	
	
	
